div{
    display:inline-block;
}
.nav{
    display: inline-block;

    margin-right: 400px;

}
 .navbar{
    display: inline-block;
    width: 150px;
    height:30px;
}
.list li{
    list-style: none;
}


